.navbar-brand{
    font-family: 'Cookie', cursive;
}
body{
    color: whitesmoke;
    font-family: 'Sanchez', serif;
}
header{
    background-image: url('images/image9.jpg');
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: scroll;
}

.navbar a{
    color: #E2B659;
}
.navbar-nav a:hover{
    text-decoration: none;
    color: whitesmoke;
}
#search_container{
    padding-top: 100px;
}
.btn{
    color:whitesmoke;
    background-color: #677381;
}




/*font-family: 'Lobster', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Cookie', cursive;
font-family: 'Philosopher', sans-serif;
font-family: 'Sanchez', serif;
font-family: 'Neucha', cursive;
font-family: 'Tangerine', cursive;
font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Playball', cursive;
font-family: 'El Messiri', sans-serif;*/